html {
  background-color: #2e2e2e;
  overscroll-behavior: none;
}

@media (min-width: 768px) {
  #theatre-shell .swiper {
    position: relative;
    padding: 0 60px;
    overflow: hidden;
    min-height: 600px;
    display: flex;
    align-items: center;
  }

  @media (min-width: 768px) {
    #theatre-shell .swiper-slide {
      visibility: hidden;
    }
  }

  #theatre-shell .swiper-wrapper {
    align-items: center;
  }

  #theatre-shell .swiper-slide-active {
    visibility: visible;
  }

  #theatre-shell .swiper-button-next,
  #theatre-shell .swiper-button-prev {
    position: absolute;
    top: 50%;
    width: 50px;
    height: 50px;
    margin-top: -25px;
    z-index: 10;
    cursor: pointer;
    color: #fbbf24;
  }

  #theatre-shell .swiper-button-next {
    right: 0;
  }

  #theatre-shell .swiper-button-prev {
    left: 0;
  }

  #theatre-shell .swiper-pagination-bullet,
  .swiper-pagination-bullet-active {
    background: #fbbf24;
  }
}
